####################################
# ===== GLOBAL / IDE =====
####################################
.vs/
.vscode/
.idea/
*.user
*.suo
*.cache
*.log
*.pdb

####################################
# ===== OS =====
####################################
.DS_Store
Thumbs.db

####################################
# ===== .NET / BACKEND =====
####################################
**/bin/
**/obj/

# SQLite / Local DB
*.db
*.db-shm
*.db-wal
*.sqlite

# EF Core
**/Migrations/*.Designer.cs
**/Migrations/*.csproj.user

# App settings locais
appsettings.Development.json
appsettings.Local.json

####################################
# ===== ANGULAR / FRONTEND =====
####################################
node_modules/
dist/
.angular/
coverage/

# Angular envs locais
environment.ts
environment.development.ts

####################################
# ===== TEST / TEMP =====
####################################
*.http



*.db
*.db-shm
*.db-wal
*.pdb
bin/
obj/
*.user
*.suo
*.db
*.sqlite
*.pdb
*.cache
.vs/
*.http
node_modules/
dist/
.angular/
coverage/
environment.ts
environment.development.ts