<header class="navbar">
  <div class="navbar-left">
    <div class="logo">StudyPack</div>
  </div>

  <nav class="menu navbar-center">
    <a>
      <i class="fa-solid fa-chart-column"></i>
      Dashboard
    </a>

    <a class="active">
      <i class="fa-solid fa-inbox"></i>
      Mochilas
    </a>

    <a>
      <i class="fa-solid fa-users"></i>
      Grupos
    </a>

    <a>
      <i class="fa-solid fa-trophy"></i>
      Conquistas
    </a>

    <a>
      <i class="fa-solid fa-user"></i>
      Perfil
    </a>
  </nav>

  <div class="navbar-right">
    <div class="avatar">GT</div>
  </div>
</header>